@charset "UTF-8";
/*
Theme Name: Open Story
Theme URI: http://wordpress.org/themes/blankslate
Author: Full Metal Workshop
Author URI: http://fullmetalworkshop.com/
Description: Open Story Wordpress Theme
Version: 1.0.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: black, blue, white, light, one-column, fluid-layout, responsive-layout, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: Open Story

Open Story WordPress Theme © 2017 Full Metal Workshop
Open Story is distributed under the terms of the GNU GPL
*/
/* line 17, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline; }

/* line 17, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
body {
  line-height: 1; }

/* line 17, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
ol, ul {
  list-style: none; }

/* line 17, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
blockquote, q {
  quotes: none; }

/* line 17, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 17, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 17, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 17, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
.clear {
  clear: both; }

/* line 18, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

/* line 2, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/_login.scss */
form.ajax-auth {
  display: none;
  z-index: 999;
  position: fixed;
  top: 150px;
  left: 50%;
  width: 350px;
  margin-left: -200px;
  padding: 40px 25px 25px 25px;
  background-color: #FFFFFF;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  color: #878787;
  font-size: 11px; }

/* line 19, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/_login.scss */
.ajax-auth h1, .ajax-auth h3 {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-weight: 100;
  color: #333333;
  line-height: 1; }

/* line 26, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/_login.scss */
.ajax-auth h1 {
  font-size: 27px;
  text-align: center;
  margin: 0 0 20px 0; }

/* line 32, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/_login.scss */
.ajax-auth h3 {
  font-size: 18px;
  text-align: left;
  margin: 0; }

/* line 38, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/_login.scss */
.ajax-auth h3 a {
  color: #e25c4c; }

/* line 42, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/_login.scss */
.ajax-auth hr {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0 none;
  height: 1px;
  margin: 20px 0; }

/* line 54, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/_login.scss */
.ajax-auth input#username,
.ajax-auth input#password,
.ajax-auth input#signonname,
.ajax-auth input#email,
.ajax-auth input#signonpassword,
.ajax-auth input#password2 {
  border: 1px solid #EDEDED;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
  color: #333333;
  font-size: 15px;
  padding: 10px 10px 10px 13px;
  width: 325px;
  margin: 7px 0 20px 0;
  background-color: #F9F9F9;
  font-family: 'Georgia', 'Times New Roman', Times, serif; }

/* line 72, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/_login.scss */
.ajax-auth input#username:focus,
.ajax-auth input#password:focus,
.ajax-auth input#signonname:focus,
.ajax-auth input#email:focus,
.ajax-auth input#signonpassword:focus,
.ajax-auth input#password2:focus {
  background-color: #FFF; }

/* line 76, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/_login.scss */
.ajax-auth label.error {
  display: none !important; }

/* line 80, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/_login.scss */
.ajax-auth input.error {
  border: 1px solid #FF0000 !important; }

/* line 84, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/_login.scss */
.ajax-auth input.submit_button {
  font-size: 13px;
  color: #FFF;
  border: 1px solid #b34336;
  background-color: #e25c4c;
  border-radius: 3px;
  text-shadow: 0 1px 0 #ba3f31;
  padding: 9px 31px 9px 31px;
  background: -moz-linear-gradient(top, #ea6656, #df5949);
  border-top: 1px solid #bb483a;
  border-bottom: 1px solid #a63b2e;
  float: right;
  box-shadow: 0 1px 0 #E87A6E inset; }

/* line 99, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/_login.scss */
.ajax-auth a {
  text-decoration: none; }

/* line 103, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/_login.scss */
.ajax-auth a.close {
  color: #DCDCDC;
  position: absolute;
  right: 15px;
  top: 15px; }

/* line 110, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/_login.scss */
.ajax-auth a.text-link {
  color: #B4B2B2;
  float: left;
  margin: 10px 0 0 0; }

/* line 116, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/_login.scss */
.ajax-auth p.status {
  text-align: center;
  margin: -15px 0 20px 0;
  font-weight: 600;
  display: none; }

/* line 123, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/_login.scss */
a.login_button {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 7px 5px 7px;
  background-color: #FFF;
  border-radius: 3px;
  border: 1px solid #DCDCDC;
  color: #333;
  text-decoration: none;
  font-size: 11px; }

/* line 134, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/_login.scss */
.login_overlay {
  height: 100%;
  width: 100%;
  background-color: #F6F6F6;
  opacity: 0.9;
  position: fixed;
  z-index: 998; }

/*-----------------------------------*	GLOBAL
\*-----------------------------------*/
/* line 40, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
* {
  box-sizing: border-box; }

/* line 44, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
#content {
  position: relative; }

/* line 48, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
.inner_content {
  width: 100%;
  padding: 0 20px; }

/* line 52, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
.view_background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; }

/*-----------------------------------*	STORY MAP
\*-----------------------------------*/
/* line 68, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
#my_story_map {
  width: 100%;
  height: 40vh; }

/*-----------------------------------*	START STORY VIEW
\*-----------------------------------*/
/* line 77, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
#start_story_view {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 0 50px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transform: translate(0, -100vh);
  -moz-transform: translate(0, -100vh);
  -webkit-transform: translate(0, -100vh);
  -o-transform: translate(0, -100vh); }
  /* line 87, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
  #start_story_view.active {
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0); }
  /* line 90, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
  #start_story_view .inner_content {
    height: 100%; }
  /* line 93, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
  #start_story_view form#chapter {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%; }
    /* line 98, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
    #start_story_view form#chapter input {
      width: 100%;
      margin-bottom: 15px; }
    /* line 102, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
    #start_story_view form#chapter textarea {
      width: 100%;
      height: 100%; }

/*-----------------------------------*	FOOTER
\*-----------------------------------*/
/* line 113, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
#footer {
  position: fixed;
  width: 100vw;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.3);
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px; }
  /* line 123, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
  #footer .footer_button {
    height: 100%;
    width: auto; }
    /* line 126, /Volumes/Macintosh HD/Users/brandon/Desktop/CMYK/sites/fullmetalworkshop/openstoryapp/wp-content/themes/openstory/style.scss */
    #footer .footer_button img {
      height: 100%;
      width: auto; }
