/*
Theme Name: Open Story
Theme URI: http://wordpress.org/themes/blankslate
Author: Full Metal Workshop
Author URI: http://fullmetalworkshop.com/
Description: Open Story Wordpress Theme
Version: 1.0.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: black, blue, white, light, one-column, fluid-layout, responsive-layout, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: Open Story

Open Story WordPress Theme © 2017 Full Metal Workshop
Open Story is distributed under the terms of the GNU GPL
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}

@import 'login';

@mixin translateElement($x, $y){
	transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-webkit-transform: translate($x, $y);
	-o-transform: translate($x, $y);
}

@mixin transitionElement($e, $s){
	transition: $e $s;
	-webkit-transition: $e $s;
	-moz-transition: $e $s;
	-o-transition: $e $s;
}

/*-----------------------------------*\
	GLOBAL
\*-----------------------------------*/

*{
	box-sizing: border-box;
}

#content{
	position: relative;
}

.inner_content{
	width: 100%;
	padding:0 20px;
}
.view_background{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100vw;
	height:100vh;
	position: fixed;
	top:0;
	left:0;
	z-index: 0;
}

/*-----------------------------------*\
	STORY MAP
\*-----------------------------------*/

#my_story_map{
	width: 100%;
	height:40vh;
}

/*-----------------------------------*\
	START STORY VIEW
\*-----------------------------------*/

#start_story_view{
	width: 100vw;
	height:100vh;
	background-color: black;
	position: fixed;
	top:0;
	left:0;
	padding: 30px 0 50px;
	@include transitionElement(all, .2s);
	@include translateElement(0, -100vh);
	&.active{
		@include translateElement(0, 0);
	}
	.inner_content{
		height: 100%;
	}
	form#chapter{
		width: 100%;
		display: flex;
		flex-direction: column;
		height: 100%;
		input{
			width: 100%;
			margin-bottom:15px;
		}
		textarea{
			width: 100%;
			height: 100%;
		}
	}
}

/*-----------------------------------*\
	FOOTER
\*-----------------------------------*/

#footer{
	position: fixed;
	width: 100vw;
	height: 45px;
	background-color: rgba(255,255,255,.3);
	bottom:0;
	left:0;
	display: flex;
	justify-content: space-between;
	padding: 5px 15px;
	.footer_button{
		height:100%;
		width: auto;
		img{
			height:100%;
			width: auto;
		}
	}
}